@colorBgWhite: #f3f3f3;


body {
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
	display: flex;
}
a{
	text-decoration: none;
}

header{
	background: #f3f3f3;

	.header-container{
		margin: 0 8.3%;
		display: flex;

		.logo{
			margin-top: 30px;
			margin-bottom: 15px;
		}

		nav{
			margin-top: 30px;
			margin-bottom: 15px;
			width: 100%;

			ul{
				margin-left: 5%;
				display: flex;
				justify-content: space-between;

				li{
					font-size: 18px;
					font-weight: normal;
				}
			}
		}
	}
}

